<% @products.each do |product| %>
  <h1><%= product.id %>. <%= product.name %></h1>  
  <div id="body-<%=product.id%>">
  </div>
  <div id="body-inv<%=product.id%>">
    
  </div>
  <button class="js-more" data-id="<%=product.id%>"> More Info </button>
<% end %>


<script type="text/javascript" charset="utf-8">
  $(function () {
    $(".js-more").on('click', function() {
     var id = $(this).data("id"); 
      $.get("/products/" + id + "/description", function(data) {
     $("#body-"+id).append(data)
      });
      $.get("/products/" + id + "/inventory", function(data) {
      if(data){
     $("#body-inv"+id).append("Available")
      } else {
     $("#body-inv"+id).append("Sold Out")
      }
      })
      });
    })
</script>
